:root{
  --min-width: 320px;
}
html {
  font-size: 3px;
}

@media screen and (min-width: 480px) {
	html {
		font-size: 5px;
	}
}

@media screen and (min-width: 660px) {
	html {
		font-size: 7px;
	}
}

@media screen and (min-width: 900px) {
	html {
		font-size: 9px;
	}
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font-main;
}

main{
  min-width: var(--min-width);
}
h1{
  font-size: 3rem;
}
p, label, span{
  font-size: 1.5rem;
}
label{
  display: block;
  margin: 1rem 0;
}
section{
  margin: 3rem 0;
}
img{
  width: 100%;
}
.container-img {
  width: calc(100vw*0.8);
  margin: 3rem auto;
}

/*Overwrite*/
*{
  color: $color-claro;
  z-index: 0;
}
ul,ol{
  list-style: none;
}
