$font-main: 'Montserrat', sans-serif;
$font-secondary: 'Oswald', sans-serif;
$font-videogames: 'Press Start 2P', sans-serif;
$color-claro: #FFFFFF;

/*https://coolors.co/7b7554-17183b-a11692-ff4f79-ffb49as*/
$col-pal1-mas-oscuro: #17183b;
$col-pal1-muy-oscuro: #7b7554;
$col-pal1-oscuro: #a11692;
$col-pal1-medio: #d03386;
$col-pal1-claro: #ff4f79;
$col-pal1-muy-claro: #ff828a;
$col-pal1-mas-claro: #ffb49a;
